/* potential palette purplish grey: #755E6A, lighter gray: #927982, pinkish: #BC5478, brownish: #C5A29C*/


/*      FONTS                */

@font-face {
    font-family: 'Airstream';
    src: url('./fonts/airstream.otf');
}


/*      GENERAL          */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    font-size: 16px;
    margin: 0;
    font-family: 'Imprima', sans-serif;
}

section {
    /*min-height: 92vh;*/
    /*margin-top: -1.5em;*/
}

h1,
h2,
h3 {
    font-family: 'Airstream', 'Helvetica', monospace;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 4em;
}

p {
    margin: 0.75em 0;
}

.row {
    padding: 4em 0;
    margin-bottom: 0;
}

a {
    transition: all 0.5s ease;
}


/*      HOME                */

.home {
    margin-top: 0;
    background: url('../images/home-bkg.jpg');
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    width: 100%;
    color: #FFF;
}

.name {
    margin-top: 1em;
    margin-bottom: 0;
    display: inline-block;
}

.role {
    margin: 0;
}

.links {
    margin: 10em;
}

.links li {
    display: inline;
    margin: 1em;
}

.links li a {
    color: #FFF;
}

.links li a:hover {
    color: #BC5478;
}


/*      NAV                 */

nav {
    z-index: 10;
}

.nav-wrapper {
    background-color: #755E6A;
}

.nav-inner {
    margin: 0 1.5em;
}

nav ul li a:hover,
nav a:hover,
nav ul li.active {
    color: #927982;
}

.dropdown-content {
    background-color: #755E6A;
}

.dropdown-content li>a {
    color: #FFF;
}

.dropdown-content li:hover,
.dropdown-content li.active {
    background-color: rgba(0, 0, 0, 0.1);
}


/*          ABOUT               */

.about {
    background-color: #927982;
    color: #FFF;
}

.me {
    max-width: 100%;
    max-height: 50%;
    border-radius: 5%;
}

.pets {
    padding-top: 2em;
}

.pets img {
    border-radius: 10%;
}


/*          SKILLS              */

.skills {
    background-color: #FFFFFF;
}

.group {
    font-size: 1.5em;
    color: #BC5478;
}

.skills li {
    margin: 1.5em;
}


/*          WORK                  */

.work {
    background-color: #BC5478;
    color: #FFF;
}

.project {
    border-radius: 5px;
    background-color: #755E6A;
    margin: 1em auto;
}

.project img {
    max-width: 100%;
    border-radius: 5px;
}

.project a {
    color: #927982;
    margin: 2em;
}

.project a:hover {
    color: #BC5478;
}

.project .row {
    padding: 1em 0.5em;
}

.not-visible {
    visibility: hidden;
}


/*          CONTACT            */

.contact {
    background-color: #FFF;
}

.contact-box {
    font-size: 5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 1em auto;
}

.contact-box a {
    padding: 0.25em 0.5em;
    box-sizing: border-box;
    border-radius: 5%;
}

a.icon {
    color: #BC5478;
}

a.icon:hover {
    background-color: #BC5478;
    color: #FFF;
}

.codewars {
    margin-top: 1em;
}


/*          RESUME              */

.resume {
    background-color: #927982;
    color: #FFF;
}

.btn-large,
.btn-large:visited,
.btn-large:focus {
    width: 20%;
    margin: 1em;
    background-color: #BC5478;
}

.btn-large:hover {
    background-color: #FFF;
    color: #BC5478;
}

.resume i {
    margin: 0.5em;
}


/*          FOOTER              */

footer {
    margin-top: -1.5em;
    color: #FFF;
    background-color: #755E6A;
    height: 2em;
}

@media (max-width: 770px) {
    body {
        font-size: 0.75em;
    }
    .links {
        margin: 18em auto;
    }
    .links li {
        margin: 0.5em;
        font-size: 0.8em;
    }
    .card.large {
        max-height: 400px;
    }
}
