$brown: #5a3d2b	;
$blue: 	#75c8ae;
$yellow:#F2CB05;
$cream: #ffecb4;
$orange:#f4a127;
$rust:  #ba4500;
$plum: #9c0374;
$navy: #00139b;

$link-color: $rust;
$background-color: #f7f4ed;

$min-sm: 425px;
$min-md: 768px;
$min-lg: 1024px;
$min-xl: 1440px;