@import '../../styles/_vars.scss';

.workPage {
    img {
        max-height: 600px;
        margin-bottom: 2rem;
        @media (min-width: $min-md) and (max-width: $min-lg){
            max-height: 400px;
        }
    }
}
.btnContainer {
    a {
        margin-right: 2rem;
    }
}
.contributor {
    a:not([href]) {
        text-decoration: none;
        cursor: default;
    }
}