@import '../../styles/vars';

.container {
  max-width: 600px;
  padding: 0 1rem;
  position: relative;
  margin: 1rem auto 0;
  @media (min-width: $min-md){    
    margin: 3rem auto 0;
    max-width: 1280px;
    padding: 0 5%;
    @media(min-width: $min-xl){
      padding-left: 1rem;
    }
  }
}

.backToHome {
  margin: 3rem 0 0;
}

.footer {
  margin: 3rem 0 1rem;
  font-size: 14px;
}