
@import '../../styles/vars';
.nav {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    a:first-child{
        width: 100%;
        text-align: center;
    }
    @media(min-width: $min-md){
        position: absolute;
        top: 0;
        right: 5%;
        flex-flow: column;
        align-items: flex-end;        
    }
    @media(min-width: $min-xl){
        right: 0;
    }
}