@import '../../../styles/_vars.scss';

@mixin workPageConstraint(){
    max-width: 550px;
    @media(min-width: $min-lg){
        max-width: 750px;
    }
    @media(min-width: $min-xl){
        max-width: 900px;
    }
}

.workPage {
    h1 {
        font-size: 3rem;
        @include workPageConstraint();
    }
    img {
        max-height: 600px;
        margin: 1rem 0 2rem;
        @media (min-width: $min-md) and (max-width: $min-lg){
            max-height: 400px;
        }
    }
    @media(min-width: $min-lg){
        h1 {
            font-size: 3.5rem;
        }
    }
    p {
        @include workPageConstraint();
    }
}

.description {
    @include workPageConstraint();
    p {
        text-align: justify;
    }
}

.btnContainer {
    a {
        margin-right: 2rem;
    }

}

.contributor {
    a:not([href]) {
        text-decoration: none;
        cursor: default;
    }
}