@import './_vars.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Benne', "Times New Roman", serif;
  line-height: 1.2;
  font-size: 20px;
  background: $background-color;
}

p {
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: 600;
    &:hover {
      text-decoration: underline;
  }
}

h1 {
  font-size: 3.5rem;
  margin: 1rem 0;
}
h2 {
  font-size: 2rem;
  margin: 0.75rem 0;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
