@import './_vars.scss';

.borderCircle {
  border-radius: 50%;
}

.animate {
  transition: all 0.3s;
}

.grid {
  margin-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  @media(min-width: $min-md){
    margin-top: 4rem;
  }
}

@mixin animatedBtn($color){
  display: inline-block;
  line-height: 36px;
  margin: 8px 0;
  padding: 4px 2%;
  font-size: 16px;
  position: relative;
  opacity: .999;
  @extend .animate;
  background-color: transparent;
  text-decoration: none;
  color: $color;
  font-weight: bold;
  
  &:after {
    content: '';
    border-style: solid;
    position: absolute;
    z-index: 5;
    box-sizing: content-box;
    border: 2px solid $color;
    @extend .animate;
    width: 100%;
    height: 0;
    border-width: 0 0 2px 0;
    bottom: 0;
    right: -1px;
  }
  
  &:hover, &:focus {
    outline: none;
    text-decoration: none;
    border: 0;
    
    &:after {
      width: 50%;
      height: 50%;
      border-right-width: 2px;
    }
  }
}


  
.btn {
  @include animatedBtn($link-color);
}

.attachmentBtn {
  @include animatedBtn($plum);
}

.externalBtn {
  @include animatedBtn($navy);
}