@import '../../styles/vars';

.about {
    text-align: center;
    p {
        text-align: left;
    }
    svg {
        margin: 0 0.5rem;
    }
    @media(min-width: $min-md){
        text-align: left;
    }
    blockquote {
        font-style: italic;
        font-size: 1.2rem;
        p {
            padding-left: 0.5rem;
            border-left: 4px solid $navy;
       }
    }
}